//font families
$lobster-Two: "Lobster Two", cursive;
$montserrat: "Montserrat", sans-serif;
$noto-sans: "Noto Sans TC", sans-serif;
$slabo-27: "Slabo 27px", serif;
//---------------------
//colors
$royal-blue: #4169e1;
$gold: #e0b441;
$dark-blue: #1c2d61;
$dark-dark: #1b2530;
