* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
@import "variables";
.wrapper {
  width: 89%;
  margin: 0 auto;
}
html,
body {
  height: 100%;
}
#page-container {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 77px;
}
body {
  overflow-x: hidden;
  h2 {
    color: rgb(0, 0, 0);
    width: 97px;
    margin: 30px auto;
    font: {
      size: 2rem;
      family: $noto-sans;
      weight: 700;
      style: normal;
    }

    &::after {
      content: " ";
      display: block;
      height: 1.5px;
      width: 70px;
      background-color: $royal-blue;
    }
    //border-bottom: 1.5px solid $royal-blue;
  }
  p {
    font-size: 1.4rem;
  }

  #myname {
    color: $gold;
    font-family: $lobster-Two;
    font-size: 3rem;
    position: relative;
    top: 18px;
    left: 24px;
    z-index: 10;
  }
  .banner {
    background-image: url("../images/banner-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 331px;
    width: 100%;
    p {
      position: absolute;
      width: 85%;
      height: 47px;
      left: 25px;
      top: 144px;
      z-index: 10;
      font-family: $montserrat;
      font-size: 1.7rem;
      line-height: 20px;
      text-align: center;
      font-weight: 600;

      color: #ffffff;
    }

    #btn-resume {
      position: absolute;
      width: 81px;
      height: 29px;
      left: 50%;
      top: 256px;
      transform: translateX(-50%);
      background: #4169e1;
      border-radius: 5px;
      font: {
        family: $noto-sans;
        style: normal;
        weight: normal;
        size: 1.5rem;
      }
      line-height: 29px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      z-index: 10;
    }
    #overlay {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 331px;
      background: rgba(0, 0, 0, 0.308);
    }
  }

  #section-projects {
    p {
      text-align: center;
      padding-bottom: 25px;
      width: 85%;
      margin: 0 auto;
    }
    .project-container {
      display: grid;
      width: 100%;

      .project_description {
        margin-bottom: 45px;
        .projects-btn {
          display: flex;
          justify-content: space-around;
          a {
            font-size: 1.4rem;
            display: inline-block;
            font-weight: 600;
            padding: 0 15px;
            height: 30px;
            border-radius: 6px;
            color: black;
            line-height: 30px;
            text-align: center;
            background-color: $gold;
            text-decoration: none;
          }
        }
        .project-img {
          background-repeat: no-repeat;
          background-size: cover;
          width: 90%;
          height: 169px;
          margin: 0 auto;

          &:hover {
            background-image: url("../images/banner-bg.jpg");
            transition: all 3s;
          }
        }
        .project1 {
          background-image: url("../images/cases/candyshop.png");
          background-size: cover;
          margin-bottom: 10px;
        }
      }
    }
  }
  #section-skills {
    p {
      font-size: 1.7rem;
    }
    .wrap-skils {
      /*min-width: 150px;
      margin: 0 auto;*/
      width: 80%;
      margin: 0 auto;
    }
    .box {
      width: 100%;
    }
    .container {
      background-color: $dark-dark;
      width: 100%;
      border-radius: 8px;
    }
    .skill {
      background-color: $royal-blue;
      color: white;
      padding: 1%;
      text-align: right;
      font-size: 0.6rem;
      height: 5px;
      border-radius: 8px;
    }
    .html {
      width: 80%;
    }
    .css {
      width: 90%;
    }
    .sass {
      width: 75%;
    }
    .js {
      width: 40%;
    }
    .git {
      width: 60%;
    }
    .ajax {
      width: 55%;
    }
    .php {
      width: 50%;
    }
    span {
      font-size: 1rem;
      float: right;
    }
  }
  #section-aboutme {
    p {
      text-align: center;
    }
  }
  #footer {
    padding: 20px 0;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
    background: #1c2d61;
    margin-top: -100px;
    overflow: hidden;
    color: rgb(255, 255, 255);

    h2 {
      text-transform: capitalize;
      color: rgb(255, 255, 255);
      width: auto;
      margin: 0;
      display: block;
      display: none;
      text-align: center;
      font: {
        size: 2rem;
        family: $noto-sans;
        weight: 700;
        style: normal;
      }
      &::after {
        display: none;
      }
    }
    img {
      width: 37px;
      margin-right: 12px;
      display: inline-block;
    }
    .footer-sm {
      float: right;
      display: block;
      margin-right: 10px;
      a {
        display: block;
        padding-bottom: 8px;
      }
    }
    ul {
      float: left;
      margin-left: 10px;
      li {
        list-style: none;
        padding-bottom: 15px;
        a {
          font-size: 1.7rem;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
